:root {
    --primary-black: hsl(0, 0%, 0%);
    --secondary-blue: hsl(211, 57%, 45%);
    --white: hsl(39, 49%, 91%);
    --font-base: 'Montserrat', sans-serif;
    --font-display: cochin;
}

html,
body {
    background-color: var(--white);
    color: var(primary-black);
    scroll-behavior: smooth;
    font-family: var(--font-base);
    margin: 0 auto;
}

.top-container {
    height: 100px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.7) 13.02%, rgba(196, 196, 196, 0.35) 100%);
/* transform: rotate(-180deg); */
}
.top-container p {
    font-family: var(--font-display);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    margin: 0;
}
.menu-text {
    position: absolute;
    font-family: var(--font-display);
    font-size: 1.5rem;
    text-align: center;
    left: 50%;
    right: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    text-decoration: underline;
}

.southside-logo-container {
    text-align: center;
    margin-top: 50px;
}

.content-container {
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.content-container h1 {
    font-weight: 400;
    text-align: center;
    font-size: 1.75rem;
}

.content-container h2 {
    font-family: var(--font-display);
    text-align: center;
    font-size: 1.75rem;
    margin: 0;
}
.content-container li {
    font-family: var(--font-display);
    font-size: 1.5rem;
    list-style: none;
    line-height: 1.5;
}
hr {
    border: 1px solid var(--secondary-blue);
}

.information-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    width: 600px;
    margin: auto;
}

.information-container h5 {
    font-family: var(--font-display);
    font-size: 1.75rem;
    margin: 10px 0px 0px 0px;
    font-weight: 600;
}

@media screen and (max-width: 650px) {
    .southside-logo-container {
        padding: 0 24px;
    }
    .southside-logo-img {
        width: 100%;
    }
    .content-container h3 {
        font-size: 1.5rem;
    }
    /* hr {
        width: 100%;
    } */
}

@media screen and (max-width: 550px) {
    .information-container {
        width: 100%;
    }
    hr {
       display: none;
    }
    .information-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}