:root {
    --primary-black: hsl(0, 0%, 0%);
    --secondary-blue: hsl(211, 57%, 45%);
    --white: hsl(39, 49%, 91%);
    --font-base: 'Montserrat', sans-serif;
    --font-display: cochin;
}

html,
body {
    background-color: var(--white);
    color: var(--primary-black);
    scroll-behavior: smooth;
    font-family: var(--font-base);
    margin: 0 auto;
}

#nav-bar {
  display: flex;
  overflow: hidden;
  height: 80px;
  background: linear-gradient(to top, rgba(9, 5, 4, 0.7) 0%, rgba(46, 25, 20, 0.7) 100%);
}

h1 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
}

h3 {
    font-size: 2rem;
  font-family: var(--font-display);
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 50px;
}

.btn {
  border: none;
  outline: none;
}

.nav__menus {
  float: right;
  overflow: hidden;
}

.order-dropdown {
  float: right;
  overflow: hidden;
}

.nav__menus .btn__menu {
  font-size: 1.25rem;
  border: none;
  outline: none;
  color: white;
  padding: 14px;
  background-color: inherit;
  font-family: inherit;
}

.order-dropdown .btn__order {
  font-size: 1.25rem;
  color: white;
  padding: 14px;
  background-color: inherit;
  font-family: inherit;
}


.nav__menus:hover,
.order-dropdown:hover {
  background-color: var(--secondary-blue);
}

.menu-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.order-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-dropdown-content a {
  float: none;
  color: var(--primary-black);
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.order-dropdown-content a {
  float: none;
  color: var(--primary-black);
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu-dropdown-content a:hover,
.order-dropdown-content a:hover {
    background-color: #ddd;
  }

.nav__menus:hover .menu-dropdown-content {
    display: block;
}

.order-dropdown:hover .order-dropdown-content {
    display: block;
}

.icon {
  padding: 0 12px;
}

.southside-logo-container {
  text-align: center;
  background: linear-gradient(to top, rgba(243, 235, 220, 0.7) 0%, rgba(185, 181, 172, 0.7) 100%);
}

.southside-logo-img {
  padding-top: 40px;
}

.header-content {
  margin: 0 auto;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 740px) 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-rows: 1fr 10px 1fr 10px 1fr 10px;
}

.grid-container__top {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  text-align: center;
  align-self: center;
}

.grid-container__top li {
  font-size: 1.5rem;
  list-style-type: none;
}

.blue-shelf {
  grid-column: 1 / span 3;
  width: 100%;
}

.bottle-img-left {
  background-image: url("assets/southside-parlor-bottles.svg");
  background-position: bottom right;
  background-repeat: repeat-x;

   transform: translate3d(0px, 0px, 0px);
}

.bottle-img-right {
  background-image: url("assets/southside-parlor-bottles.svg");
  background-repeat: repeat-x;
  background-position: bottom left;
}

.bottles-bottom {
  display: grid;
  grid-column: span 3;
  background-image: url("assets/southside-parlor-bottles.svg");
  background-repeat: repeat-x;
  background-position: bottom center;
}

.grid-container {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
}

.grid__column-h2 {
    font-family: var(--font-display);
  font-size: 1.75rem;
  margin-top: 32px;
  font-weight: 600;
}

.grid__column-p {
  font-family: var(--font-base);
  font-size: 1.25rem;
}

.section {
  background-color: var(--white);
  height: 500px;
}

.about {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.about__text {
  max-width: 600px;
}

.about__img {
  width: 600px;
  height: 400px;
  border-radius: 5px;
}

.carousel__images {
  display: none;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  /*margin-top: -200px;*/
  padding: 0 12px;
  color: var(--secondary-blue);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.arrows {
  text-align: center;
  margin-top: 8px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .75}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .75}
  to {opacity: 1}
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__logo {
  padding: 32px 0;
}

@media screen and (max-width: 650px) {
    .southside-logo-container {
        padding: 0 50px;
    }
    .southside-logo-img {
        width: 100%;
    }

    .nav__links {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
    }
}

@media screen and (max-width: 550px) {
    .grid-container {
        width: 100%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
