<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Southside Parlor</title>
  <meta name="description" content="Bar and kitchen based in Seoul, South Korea">
  <meta name="keywords" content="Southside Parlor, cocktails, bar, kitchen, american food">
  <meta name="author" content="Southside Parlor">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Pathway+Gothic+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="../stylesheets/styles.css" />
</head>

<body>
  <nav class="navbar-size navbar navbar-expand-md">
    <button type="button" class="navbar-dark navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-logo" href="index.html"> <img src="../assets/logo-nav.svg" alt=""></a>
    <div class="collapse navbar-collapse" id="collapse_target">
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item">
          <a class="nav__link hover menu-navigation-link" href="overview.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav__link hover menu-navigation-link" href="menus.html">View Our Menus</a>
        </li>
        <li class="nav-item dropdown mr-5">
          <a class="nav__link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target">Order Online
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu " aria-labelledby="dropdown_target">
            <a class="dropdown-item" target="_blank" href="https://www.shuttledelivery.co.kr/en/restaurant/menu/69/southside-parlor">Shuttle Delivery<i class="fas fa-external-link-alt fa-xs  link-out"></i></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" target="_blank" href="https://get.coupangeats.com/">Coupang Eats<i class="fas fa-external-link-alt fa-xs link-out"></i></a>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <div class="header-flex">
    <div class="vl-container mx-5 my-3">
      <div class="vl-sh"></div>
      <div class="vl-sh"></div>
      <div class="vl-sh"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
    </div>
    <div class="container">
      <section>
        <div class="grid-container-overview">
          <h1 class="header__text-h1 grid-h1">Who We Are</h1>
          <p class="grid-p">The Southside Parlor crew is dedicated to our craft. We enjoy cooking southern food with a Korean twist. We often host events such as Drag Brunch, wine tastings, and bring your own dog to happy hour.</p>
        </div>
    </div>
    <div class="vl-container mx-5 my-3">
      <div class="vl-sh"></div>
      <div class="vl-sh"></div>
      <div class="vl-sh"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
    </div>
    </section>
  </div>
  <img class="team-img" src="../assets/team_img.jpg" alt="">
  <div class="header-flex">
    <div class="vl-container mx-5 my-3">
      <div class="vl-sh"></div>
      <div class="vl-sh"></div>
      <div class="vl-sh"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
    </div>
    <div class="container">
      <section>
        <div class="grid-container-overview">
          <h1 class="header__text-h1 grid-h1">Press</h1>
          <p class="grid-p">Check us out in Loneley Planet, Texas Monthly, Monocle, and The Wall Street Journal.</p>
        </div>
        <div class="press-links-container">
          <div class="press-links ">
            <a href="https://blogs.wsj.com/scene/2013/06/28/southern-flavors-spiked-with-seoul/">Wall Street Journal</a>
            <a href="https://www.texasmonthly.com/the-daily-post/texas-inspired-restaurants-and-bars-around-the-world/">Texas Monthly</a>
            <a href="https://www.lonelyplanet.com/south-korea/seoul/nightlife/southside-parlor/a/poi-dri/1514604/357441">Lonely Planet</a>
          </div>
          <div class="press-links">
            <a href="https://www.bonappetit.com/restaurants-travel/navigator/article/seoul-best-restaurants-food
">Bon Appetit</a>
            <a href="https://monocle.com/travel/seoul/">Monocle</a>
            <a href="http://www.drinkmagazine.asia/2017/01/31/speed-rack-asia-announces-2017-contestants/">Drink Magazine</a>
          </div>
        </div>
    </div>
    <div class="vl-container mx-5 my-3">
      <div class="vl-sh"></div>
      <div class="vl-sh"></div>
      <div class="vl-sh"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
      <div class="vl-sh none"></div>
    </div>
    </section>
  </div>
  <footer class="footer">
    <a href="https://www.instagram.com/southsideparlor/" class="icon icon__facebook"><i class="fab fa-instagram fa-2x footer__icon"></i></a>
    <img src="../assets/logo-footer.png" alt="" class="footer__logo">
    <a href="https://www.facebook.com/SouthsideParlor" class="icon icon__instagram"><i class="fab fa-facebook fa-2x footer__icon"></i></a>
  </footer>
  <script src="script.js"></script>
  <!-- bootstrap js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
