:root {
  --black: hsl(228, 8%, 12%);
  --dark-gray: hsl(225, 4%, 22%);
  --secondary-blue: hsl(211, 57%, 45%);
  --white: hsl(39, 49%, 91%);
  --tan: hsl(32, 55%, 70%);
  /*    --font-base: 'Montserrat', sans-serif;*/
  --gothic: 'Pathway Gothic One', sans-serif;
  --courier: 'Courier Prime', monospace;
}

html,
body {
  background-color: var(--black);
  color: var(--tan);
  font-family: var(--gothic);
  margin: 0 auto;
  scroll-behavior: smooth;
  /*font-size: 100%;*/
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* <--- h1, h2. h3 --> */
.header__text-h1 {
  margin-top: 50px;
  font-size: 3.5rem;
  font-weight: lighter;
}

.header__text-h2 {
  text-align: center;
  font-family: var(--courier);
  font-size: 2.5rem;
}

.header__text-h3 {
  font-size: 2.5rem;
}

.uppercase {
  text-transform: uppercase;
}

/*vertical line design*/

.vl-container {
  display: flex;
}

.vl {
  border-left: 1px solid var(--dark-gray);
  height: 100vh;
  padding: 0 12px;
}

.vl-sh {
  border-left: 1px solid var(--dark-gray);
  height: 50vh;
  padding: 0 12px;
}

/*<--- navigation bar ---> */
.navbar-size {
  height: 80px;
  background-color: var(--black);
  width: 100%;
}

.navbar-size-home {
  height: 80px;
  position: absolute;
  background-color: var(--black);
  width: 100%;
  z-index: 1;
}

.nav-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav__link {
  font-size: 1.125rem;
  color: var(--tan);
  background-color: inherit;
  font-family: inherit;
  margin: 0 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav__link:hover {
  color: var(--white);
}

.nav__link:focus {
  outline: none;
}

.link-out {
  padding-left: 8px;
}

/* <--- Hero image/section --->*/
.hero__image {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)),
    url('../assets/ssp_interior.jpg');
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.southside-hero-overlay {
  position: absolute;
  height: calc(80vh - 80px);
  width: 33%;
  color: var(--tan);
  font-size: 3rem;
  background-color: hsla(228, 8%, 12%, 80%);
  top: 80px;
  left: 0;
}

.container__hero-hours {
  font-size: 1.5rem;
  list-style-type: none;
  font-family: var(--courier);
  padding: 32px 0;
}

.container__hero-hours li {
  padding: 10px 0;
}

.header-flex {
  display: flex;
}

.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  padding: 0 12px;
}

.icon {
  color: var(--tan);
  padding: 0 8px;
}

.hr-tan {
  background-color: var(--tan);
}

.information__section {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 32px;
}

.about__text p {
  font-family: var(--courier);
  font-size: 1.125rem;
}

.icon-image {
  border-radius: 50%;
  margin-right: 18px;
}

.hidden__br {
  display: none;
}

/* <---information grid container --->*/
.grid-container-new {
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  grid-column-gap: 12px;
  align-self: center;
  margin-top: 50px;
}

.grid__column-p {
  font-family: var(--courier);
  font-size: 1.25rem;
}

.container__images {
  display: flex;
  margin-top: 100px;
  width: 100%;
}

.container__images img {
  width: 25%;
  object-fit: cover;
}

/*images*/
.team-img {
  width: 100%;
  height: auto;
}


.grid-container-overview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  grid-auto-rows: auto;
  width: 600px;
  margin: 0 auto;

}

.grid-h1 {
  grid-column: 1 / 3;
  font-size: 5rem;
  justify-self: center;
}

.grid-p {
  grid-column: 2 / 4;
  font-family: var(--courier);
}

.press-links-container {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 24px;
  justify-content: space-between;
  text-decoration: underline;
}

.press-links {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;

}

/*<--- footer styles---> */

.footer {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__logo {
  padding: 32px 48px;
}

.footer__icon {
  color: var(--white);
}

/*Desktop display*/
/*Tablet*/
/*Mobile*/

@media screen and (max-width: 1080px) {
  .none {
    display: none;
  }
}



@media screen and (max-width: 850px) {

  .order-dropdown {
    display: none;
  }

  .southside-hero__h1 {
    font-size: 3.5rem;
  }

  .grid-container-new {
    display: flex;
    flex-direction: column;
  }

  .container__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
  }

  .container__images img {
    width: 100%;
    object-fit: cover;
  }

  .hidden__br {
    display: visible;
  }

  .vl {
    display: none;
  }

  .header-flex {
    display: block;
  }
}
